*{
    margin:0;
    padding:0;
    font-family: Pretendard;
}
body{
    display:flex;
    flex-direction: column;
    height: 100vh; /*vh : 사용자가 보는 화면의 (숫자)만큼*/
}

header{
    flex-grow:1;
    /*height: 20px;*/
    background-color: #F2E9D8;
    color: white;
    padding: 20px 200px;

    display:flex;
    align-items: center;

    justify-content: space-between;
}
.header-2{
    display:flex;
    flex-direction: row;
    align-items: center;
}


nav ul {
    list-style: none;
    margin: 0 1em;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 1em;
}
nav ul li a {
    color: Black;
    text-decoration: none;
    font-size: 16px;
    /*font-size: 1.2em;*/
}
nav ul li a:hover {
    text-decoration: underline;
}

main{
    flex-grow:2;
    display: flex;
    flex-direction: column;
}

#home{
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 200px 0px;
    /*margin-bottom: 0px;*/
    height: 90vh;

    background-color: #F2E9D8;

}

#about{
    flex-grow: 3;
    /*height: 100vh;*/
    padding: 100px 200px 0px;

}
#about .about1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#about img{
    border-radius: 30px;
}

#about p{
    margin: 20px 0px;
}

#about hr{
    margin: 40px 0px;
}
.about2 {
    text-align: center;
    padding: 40px 0px;
}
.about2 h1{
    text-align: center;
    color:#D97652;
    font-size: 48px;
    padding-bottom: 40px;

}

.scroll-btn-un{
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.8);

}

.scroll-un {
    width: 40px;
    height: 40px;
}
footer{
    /*flex-grow: 1;*/
    position: fixed;
    bottom: 0;

    width: 100%;
    z-index: 1000;

    background-color: white;

    padding: 20px 0px;


        display: flex;
        justify-content: space-between;
        align-items: center;


}
.fixed-btn {
    position: fixed;
    bottom: 120px; /* footer 위에 위치하도록 설정 */
    right: 20px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: white;
    border-color: #C4C4C4;
    border-width: 1px;
    border-style : solid;
    border-radius: 50px;
    cursor: pointer;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.fixed-btn img {
    width: 40px;
    height: 40px;
}


.footer_logo{
    width: 226px;
    height: 70px;
    padding-left:200px;
}
.footer_sns{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-right:200px;
}
.footer_button{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: None;
    background-color: #F29D52;

    margin: 0 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer_button img{
    width: 24px;
    height: 24px;
}


.header_logo{
    width: 130px;
    height: 40px;
}

.download_button{
    background-color: #D97652;
    color: white;
    border: None;
    width: 140px;
    height: 50px;
    border-radius: 40px;
    font-family: Pretendard;
    font-size: 16px;
}

.home-text {
    max-width: 50%;
}
.home-text h1 {
    font-size: 40px;
    margin: 0;
}
.home-text p {
    font-size: 16px;
    margin: 20px 0;
}
.home-image {
    /*max-width: 50%;*/
    margin: 0;
    padding: 0;

}
.home-image img {
    width: 415px;
    height: 766px;
    margin: 0;
    padding: 0;


}

.about3-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.about3-grid img {
    max-width: 100%;
    height: auto;
}

.about3-showmore{
    text-align: center;
}

.about3-showmore h3{
    padding-bottom: 20px;
}

.about4{
    margin: 40px 0px;
}

.about4 p{
    color: #606367;
}
#support{
    flex-grow: 1;
    margin-bottom:105px;
    margin-top: 100px;


}

.support_subscribe{

    position: absolute;
    width: 75%;
    height: 200px;
    /*top: 3500px;*/
    margin-left: 200px;
    /*padding:0px 200px;*/
    background-color: #263140;
    border-radius: 30px;
    color: white;


}
.support_subscribe h1{
    /*margin-bottom: 20px;*/
    font-size: 36px;
}

.last_cat{
    display:flex;
    margin: 100px 0px;
    position:absolute;
    /*top:3819px;*/
    width:100%;

}

.list-pic {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;  /* 구분점 제거 */
    padding: 0;             /* 기본 패딩 제거 */
    margin: 0;
}
.list-pic li {
    flex: 1 1 calc(33.333% - 10px);
    padding: 10px;          /* 각 항목에 패딩 추가 */
    text-align: center;
    box-sizing: border-box;
}
.list-pic li:nth-child(3n+1) {
    clear: left; /* 각 행의 첫 번째 항목을 왼쪽 정렬 */
}

.list-pic li img{
    width:300px;
    height:300px;
    border-radius: 30px;
}
.showmore_button{
    background-color: #D97652;
    color: white;
    border: None;
    width: 140px;
    height: 50px;
    border-radius: 40px;
    font-family: Pretendard;
    font-size: 16px;
    margin-top:20px;
}
.showmore_button:active {
    background-color: #F29D52;
}

.email_box{
    position: absolute;
    width: 40%;
    height: 60px;
    top: 70px;
    right: 58px;
    border-radius: 60px;
    background-color: white;
}
.email{
    position: absolute;
    top: 23px;
    left: 57px;

    width: 184px;
    height: 20px;
    font-size: 16px;
    color: #767676;
    font-weight: 400;
    line-height: 20px;
    border:none;
    outline: none;
}
.email_icon{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 20px;
    left: 20px;
}
.subs_btn{
    position: absolute;
    width: 135px;
    height: 50px;
    top: 5px;
    right: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 40px;
    background-color: #D97652;
    padding: 15px 29px 15px 29px;
    cursor: pointer;

}
.subs_btn:active {
    background-color: #F29D52;

}
.word9{
    position: absolute;
    width: 448px;
    height: 45px;
    top: 65px;
    left: 58px;
    font-size: 36px;
    font-weight: 700;
    line-height: 10px;
    /*white-space: nowrap;*/
    color: white;
}
.word10{
    position: absolute;
    width: 471px;
    height: 36px;
    top: 114px;
    left: 58px;
    color: white;
    font-size: 14px;
    font-weight: 400px;
    line-height: 20px;
}


/* 모달 창 스타일 */
#myModal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*overflow: auto;*/
    /*background-color: black;*/
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    position: relative;
    background-color: transparent;
    margin: 5% auto;
    padding: 0;
    border: none;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.modal-img {
    border-radius: 30px;
    width: 100%;
    height: auto;
}

.modal-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.modal-text h2{
    font-size: 36px;
    color: #D97652;
    margin-top: 20px;
    margin-bottom: 20px;
}
.close-btn{
    background-color: #D97652;
    color: white;
    border: None;
    width: 140px;
    height: 50px;
    border-radius: 40px;
    font-family: Pretendard;
    font-size: 16px;
    margin-top:30px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}